@tailwind base;
@tailwind components;
@tailwind utilities;

/* 禁止滚动 */
html, body {
  overflow: hidden;
  height: 100%;
  position: fixed;
  width: 100%;
}

#root {
  height: 100%;
  overflow: hidden;
}

::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar-thumb {
  display: none;
}

